.table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
            }
.heading-1{
    color: green;
    text-align: center;
          }
td:nth-child(even),th:nth-child(even) {
    background-color: green;
          }
td:nth-child(odd),th:nth-child(odd)  {
    background-color: aquamarine;
}       